body{
    background-color: #f4f4f4;
    color:#555555;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    font-weight: normal;
    
    /*Same as above*/
    font: normal 16px Tahoma;
    
    line-height: 1.2em;
}

