header{
    background-color: green;
    color: white;
    text-align: center;
    float: left;
    width: 100%;
    clear: both;
    height: 115px;
}
nav{
    background-color: darkseagreen;
    float: center;
    clear: both;
    font-size: large;
    clear: both;
    width: 100%;
    height: 35px;
}
main{
    background-color: darkseagreen;
    width: 100%;
}
section{
    background-color: darkseagreen;
    float: left;
    clear: both;
    text-align: justify;
    margin: 20px;
    border: 15px solid green;
    padding: 20px;
    height: auto;
}
body{
    color: white;
}
    footer{
    width: auto;
    min-height: 30px;
    float: both;
    clear: both;
    background-color: green;
    color: white;
    text-align: right;
    font-size: small;
}
a:link{color: blue}
a:visited{color : white}
a:active{color : hotpink}
a:hover{color : aquamarine}