body{
    background-color: #f4f4f4;
    color:#555555;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    font-weight: normal;
    
    /*Same as above*/
    font: normal 16px Tahoma;
    
    line-height: 1.2em;
}

.article-par{
    font-size: 16px;
    background-color: #dddddd;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.article-sub{
    padding-left: 10px;
}

#luca-img{
    width: 400px;
    height: 400px;
    float: none;
}